@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body{
    height: 100%;
}

/* * -------login page--------*/
#person-icon{
    position:relative;
    /* trazer p frente */
    z-index: 2;
    padding-top: 20px;
}

#backgroundlogin{
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #F6F7FA 70%, #E6EDEF);
    height: 100vh;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    z-index: -1;
}

.logincenter{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    /* filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.1)); */
    box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 480px;

    background: #f6f7fa2f;
    backdrop-filter: blur(5px);

    border-radius: 40px;
    padding-bottom: 20px;
    
}

.logincenter h1{
    text-align: center;
    padding: 70px 0 30px 0;
    font-weight: 700;
    font-size: 30px;
}

#h7dont{
    text-align: center;
    padding: 0 0 20px 0;
    font-size: 12px;

}

.logincenter form{
    padding: 0 75px;
    box-sizing: border-box;

}

form .txt_field{
    position: relative;
    margin: 30px 0;
    width: 100%;
    height: 30px;

    background: white;
    border-radius: 4px;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 12px;
    border: none;
    background: none;
    outline: none;
    /* margin: 0px 20px 20px 0px; */
}

form .txt_field:hover{
    background: #a6a6a61f;
}

.txt_field label{
    position: absolute;
    top: 95%;
    left: 5px;
    color: #000000;
    transform: translateY(-50px);
    font-size: 12px;
    pointer-events:none;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
}

.pass{
    margin: -25px 0px 35px 0px;
    color: #a6a6a6;
    cursor: pointer;
    font-size: 12px;
    width:fit-content;
}

.pass:hover{
    text-decoration: underline;
}

.loginbutton{
    width: 100%;
    height: 30px;
    left: 0px;
    top: 71px;
    background: #01939F;
    border-radius: 8px;
    border: 1px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    font-size: 14px;
}

.loginbutton:hover{
    border-color: #015E66;
    background:#015E66 ;
    transition: .10s;
}

#requestacess{
    height: 30px;
    left: 0px;
    top: 71px;
    background: #ffffff;
    border-radius: 20px;
    border: 1px;
    color: black;
    cursor: pointer;
    outline: none;
    width: 120px;
    font-size: 12px;
}

#requestacess:hover{
    border-color: #E0E0E0;
    background:#E0E0E0 ;
    transition: .10s;
}

/* ----------------ONDAS---------------- */
.waves {
    z-index:0;
    position:relative;
    width: 100%;
    height:180vh;
    margin-bottom:-810px;
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }

  /* ----------pop up---------- */
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h3 {
    margin-top: 0;
    color: #333;
    font-family: 'Inter', sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  