.containerr{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 0.3fr 0.3fr 1fr 1fr 1fr;
    grid-template-rows: 75px 25px 30px 95px 1.0fr 1.0fr;
    grid-template-areas: 
                        "sidebar nav nav nav nav"
                        "sidebar fil fil fil fil"
                        "sidebar map map map map "
                        "sidebar map map map map "
                        "sidebar map map map map "
                        "sidebar map map map map ";
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Inter', sans-serif ;
}