@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
html, body{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    width: 100%;
    background-color: #F6F7FA;;
}

.sidebar a svg{
    width: 100%;
    height: 100%;
}

.sidebar a{
    margin-bottom: 51%;
    width: 55px;
    height: 55px;
    color: #000000;
}

.sidebar a:hover{
    color: #01939F;;
}

.sideicones:hover{
    background-color: #01929f34;
    border-radius: 100%;
}

nav div{
    position: relative;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: 5% auto auto auto;
}

#divLogo{
    margin: 0;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#logo{
    width: 80px;
    height: 91px;
    /* margin-left: 15%; */
    text-align: center;
}

#nomePagina{
    margin-left: 2%;
    text-align: center;
    font-size: 19px;
    font-family: 'Abel', sans-serif;
    font-weight:normal;
    margin-top: auto;
    margin-bottom: auto;
}

#nomePerfil{
    position:absolute;
    margin-left: 85%;
    font-size: 15px;
    font-family: 'Abel', sans-serif;
    font-weight:normal;
    margin-top: auto;
    margin-bottom: auto;
}

#iconeSeta{
    /* display: flex; */
    position: absolute;
    border: none;
    background:none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 92%;
}

#setinha{
    background: #01939F;
    display: flex;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#iconeMapa{
    margin-top: 30px;
    margin-left: 60px;
}

#ezoffice{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sidebar{
    background-color: #ffffff;
    grid-area: sidebar;
    box-shadow: 3px 4px 45px rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 2;
}

.navbar{
    background-color: #ffffff;
    grid-area: navbar;
    position: relative;
    z-index: 1;
    /* text-align: center; */

}

/* PAGINA DISPOSITIVOS ELETRONICOS */

.containerr{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 0.3fr 0.3fr 1fr 1fr 1fr;
    grid-template-rows: 75px 25px 30px 95px 1.0fr 1.0fr;
    grid-template-areas: 
                        "sidebar navbar navbar navbar navbar"
                        "sidebar filter filter filter filter"
                        "sidebar filter filter filter filter"
                        "sidebar list list list list"
                        "sidebar list list list list"
                        "sidebar list list list list";
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Inter', sans-serif ;
}


#sideBar{
    background-color: white;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#navBar{
    background-color: #ffffff;
    grid-area: navbar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#filter{
    background-color: #F6F7FA;;
    grid-area: filter;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#list{
    background-color: #F6F7FA;;
    grid-area: list;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    height: 100%;
}

/* Filter */

.filterFurniture{
    display: flex;
    justify-content: end;
    margin-right: 39px;
    margin-left: 110px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.filterFurniture h5{
    padding-top: 5px;
    padding-left: 5px;
}

.filterButton{
    border: none;
    background-color: #F6F7FA;
}

.buttonFilter{
    background-color: #F6F7FA;
    border: none;
    z-index: 0;
}

.dropdown{
    padding-top: 6px;
}
.dropdown button{
    display: flex;
    justify-content: center;
}

.dropdown h5{
    font-family: 'Inter', sans-serif ;font-size: 14px;
    text-align: center;
    color: #0370AB;
}

.dropdown-menu button{
    font-family: 'Inter', sans-serif ;font-size: 14px;
    text-align: center;
    letter-spacing: 0.01em;
}

.dropdown-menu button:hover{
    color: #0370AB;
    font-weight: bold;
}

.dropdown-menu button:focus{
    color: white;
    font-weight: bold;
}

/* Cards */

.rowFurniture{
    display: flex;
    justify-content: space-evenly;
}

.rowFurnitureDown{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    padding-top: 20px;
}

.cardDevicess{
    width: 320px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 70px rgba(0, 0, 0, 0.1));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cardText{
    position: absolute;
    bottom: 0;
}

.cardImage{
    position: absolute;
    top: 0;
    margin-top: 8px;
    width: 70%;
    height: 75%;
}

.cardImage img{
    max-width: 100%;
    max-height: 100%;
}

.buttonCard{
    margin: 0;
    padding: 0;
    border: none;
}

.modall {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    padding-top: 70px;
    width: 100%;
    height: 100%; 
    overflow-y: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
/* Modal Content */
.modal-contentt {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 55%;
    min-height: 85%;
    border-radius: 10px;
}

.modall h4{
    margin: 0;
}

.topContent{
    /* position: relative; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: auto;
}

#top1{
    margin-left: 50%;
    transform: translateX(-50%);
}
#top2{
    padding-left:auto;
    padding-right: auto;
}

.closeButton{
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.closeButton img{
    width: 21px;
    height: 21px;
}

.middleContent{
    width: 85%;
    margin: auto;
    margin-top: 10px;
    overflow-y:auto;
}

.infoButtonn{
    color: #0370AB;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.devices{
    width: 100%;
    height: 12.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 13px;
    padding-right: 13px;
    margin: 0;
    justify-content: space-between;
    line-height: 15px;
    margin-bottom: 13px;
}

.textDevices{
    text-align: start;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.textDevices p {
    margin: 0;
}

.tittleRoom{
    color: black;
    font-size: 14px;

}

.pQtnd{
    font-size: 12px;
}


.topContent h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 58px;
}

.imgCategoryDevice{
    display: flex;
    justify-content: end;
    align-items: center;
}

.textCategory{
    font-family: 'Inter', sans-serif ;font-size: 14px;
    color: white;
    box-sizing: border-box;
    width: 76px;
    height: 21px;
    background: #231F20;
    border-radius: 100px;
    margin-left: 1vh;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textCategory p {
    margin: 0;
}

.textpatri{
    color: #0370AB;
}