
/* -------------------codigo michel---------------------- */



/* .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
} */

/* .center {
    background-color: #d3d3d3;
    position: fixed;
    top: 70px;
    left: 70px;
    right: 0;
    bottom: 0;
} */

/* .center-container {
    background-color: #fff;
    width: 70%;
    height: 80%;
    top: 70px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
} */


/* .inp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    font-size: medium;
    margin-bottom: 10px;
} */

/* .btn {
    position: fixed;
    bottom: 90px;
    padding: 15px;
    width: 250px;
    color: #fff;
    background-color: #01939F;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-top: -90px;
} */

/* .label {
    width: 250px;
    display: flex;
    flex-direction: column;
} */

/* input,
select {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    color: rgb(185, 185, 185);
} */

/* .popup {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.popup-container {
    background-color: #fff;
    width: 50%;
    height: 60%;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    font-size: larger;
}

.btn-popup {
    padding: 15px;
    width: 250px;
    color: #fff;
    background-color: rgb(13, 105, 180);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
} */

/* .img-popup {
    max-height: 50px;
} */


/* -------------------fim codigo michel---------------------- */
/* GRID */
html, body{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    width: 100%;
}

.containerr{
    /* background-color: red; */
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
                        "reuso reuso reuso reuso reuso reuso reuso reuso reuso reuso reuso reuso"
                        "reuso cont cont cont cont cont cont cont cont cont cont cont"
                        "reuso cont cont cont cont cont cont cont cont cont cont cont"
                        "reuso cont cont cont cont cont cont cont cont cont cont cont"
                        "reuso cont cont cont cont cont cont cont cont cont cont cont"
                        "reuso cont cont cont cont cont cont cont cont cont cont cont"
                        "reuso cont cont cont cont cont cont cont cont cont cont cont"
                        "reuso cont cont cont cont cont cont cont cont cont cont cont";
    color: rgb(0, 0, 0);
    text-align: center;
}

#reusobar {
    grid-area: reuso;
    background-color: rgb(47, 0, 255);
    position: relative;
}
#conteudo{
    grid-area: cont;
    position: relative;
}

