@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

html, body{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    width: 100%;
    background-color: #F6F7FA;;
}

.sidebar a svg{
    width: 100%;
    height: 100%;
}

.sidebar a{
    margin-bottom: 51%;
    width: 55px;
    height: 55px;
    color: #000000;
}

.sidebar a:hover{
    color: #01939F;;
}

.sideicones:hover{
    background-color: #01929f34;
    border-radius: 100%;
}

nav div{
    position: relative;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: 5% auto auto auto;
}

#divLogo{
    margin: 0;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#logo{
    width: 80px;
    height: 91px;
    /* margin-left: 15%; */
    text-align: center;
}

#nomePagina{
    margin-left: 2%;
    text-align: center;
    font-size: 19px;
    font-family: 'Abel', sans-serif;
    font-weight:normal;
    margin-top: auto;
    margin-bottom: auto;
}

#nomePerfil{
    position:absolute;
    margin-left: 85%;
    font-size: 15px;
    font-family: 'Abel', sans-serif;
    font-weight:normal;
    margin-top: auto;
    margin-bottom: auto;
}

#iconeSeta{
    /* display: flex; */
    position: absolute;
    border: none;
    background:none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 92%;
}

#setinha{
    background: #01939F;
    display: flex;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#iconeMapa{
    margin-top: 30px;
    margin-left: 60px;
}

#ezoffice{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sidebar{
    background-color: #ffffff;
    grid-area: sidebar;
    box-shadow: 3px 4px 45px rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 2;
}

.navbar{
    background-color: #ffffff;
    grid-area: navbar;
    position: relative;
    z-index: 1;
    /* text-align: center; */

}

.nav-link{
    margin: auto;
}

.containerHome{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 0.4fr 1.2fr 1fr 1fr 1fr;
    grid-template-rows: 75px 30px 80px 95px 1.0fr 1.0fr;
    grid-template-areas: 
                        "sidebar navbar navbar navbar navbar"
                        "sidebar titleMap titleMap buttonObj search"
                        "sidebar map map map map"
                        "sidebar map map map map"
                        "sidebar map map map map"
                        "sidebar devices devices devices devices";
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: #efefef;
}

#navBar{
    background-color: white;
    grid-area: navbar;
}

#sideBar{
    background-color: white;
    grid-area: sidebar;
}

#titleMap{
    border-top-left-radius: 15px;
    margin: 20px 0px 0px 15px;
    background-color: white;
    grid-area: titleMap;
}

#buttonObj{
    margin: 20px 0px 0px 0px;
    background-color: white;
    grid-area: buttonObj;
}

#search{
    border-top-right-radius: 15px;
    margin: 20px 15px 0px 0px;
    background-color: white;
    grid-area: search;
}

#map{
    margin: 0px 15px 0px 15px;
    background-color: white;
    grid-area: map;
}

#devices{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 10px;
    margin: 0px 15px 15px 15px;
    background-color: white;
    grid-area: devices;
}

/*---------------------*/
/*---------------------*/
/*---------------------*/

/*SECÃO - TITLE MAP*/

#tituloMapa{
    margin-top: 10px;
    color: #0370AB;
    font-weight: 700;
    text-align: left;
    font-size: 25px;
    display: inline-flex;
}

#titleMap svg{
    margin: 12px;
    width: 22px; /*22px*/
    height: 22px; /*22px*/
    color: #000000;
    display: inline-flex;
    margin-right: 50%;
}

/*SECÃO - BUTTON OBJ*/

#buttonObj svg{
    margin: 12px;
    width: 22px; /*22px*/
    height: 22px; /*22px*/
    color: #000000;
}

#buttonObj div{
    text-align: right;
    margin-top: 5px;
    margin-right: 15px;
}

#buttonswitch {
    transform: rotate(180deg);
}

/*SECÃO - SEARCH*/

#pesquisa{
    margin-top: 9px;
    width: 95%;
}

#pesquisar{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right: #ffffff;
}

#barraPesquisa{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #ffffff;
    border-left: #ffffff;
}

/*SECÃO - MAP*/


#mapCampus{
    background-image: url(../imagens/mapa.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    border: 3px solid #CFCFCF;
    border-radius: 20px;
    width: 1067px;
    height: 600px;
    display: grid;
    grid-template-columns: 65.88px 65.88px 65.88px 65.88px 38px 38px 38px 38px 38px 41px 41px 38px 38px 38px 43px 38px 40px 56px 62.41px 62.41px 62.41px 1fr 15px;
    grid-template-rows: 28px 146px 16px 41.5px 41.5px 41.5px 70px 61px 1fr 1fr 27px;
    grid-template-areas:
                        "latS latS latS latS latS latS latS latS latS latS latS latS latS latS latS latS latS latS latS latS latS latS latS" 
                        "latE latE latE a1 a2 a2 a2 a3 a3 a3 a3 a3 a3 a4 a4 a5 a5 a6 a6 a7 a7 a7 latD"
                        "latE1 latE1 r a1 a2 a2 a2 a3 a3 a3 a3 a3 a3 a4 a4 a5 a5 a6 a6 a7 a7 a7 latD"
                        "latE1 latE1 a26 a26 a8 a8 a11 a12 a15 a15 a18 a19 a22 a22 a22 a23 a23 a6 a6 a7 a7 a7 latD"
                        "latE1 latE1 a26 a26 a9 a9 a11 a13 a16 a16 a18 a20 a22 a22 a22 a24 a24 a6 a6 a7 a7 a7 latD"
                        "latE1 latE1 a26 a26 a10 a10 a11 a14 a17 a17 a18 a21 a22 a22 a22 a25 a25 a6 a6 a7 a7 a7 latD"
                        "latE1 latE1 a27 a27 a28 a28 a28 a28 a29 a29 a29 a29 a29 a29 a29 a30 a30 a30 a30 a30 a30 a30 latD"
                        "latE2 a42 a42 a42 a42 a31 a32 a33 a34 a35 a35 a36 a37 a38 a39 a40 a41 a44 a45 a47 a47 a47 latD"
                        "latE2 a42 a42 a42 a42 a43 a43 a43 a43 a43 a43 a43 a43 a43 a43 a43 a43 a43 a45 a48 a49 a49 latD"
                        "latE2 a42 a42 a42 a42 a43 a43 a43 a43 a43 a43 a43 a43 a43 a43 a43 a43 a43 a46 a46 a46 a46 latD"
                        "latI latI latI latI latI latI latI latI latI latI latI latI latI latI latI latI latI latI latI latI latI latI latI"
}

/*
.localizacao{
    display: block;
    margin-left: auto;
    margin-right: auto
}
*/

.dropdown{
    margin: 5px;
}

#a01{
    grid-area: a1;
    display: inline-flex;
}

#a02{
    grid-area: a2;
    display: inline-flex;
}

#a03{
    grid-area: a3;
    display: inline-flex;
}


#a04{
    grid-area: a4;
    display: inline-flex;
}

#a05{
    grid-area: a5;
    display: inline-flex;
}

#a06{
    grid-area: a6;
    display: inline-flex;
}

#a07{
    grid-area: a7;
    display: inline-flex;
}

#a08{
    grid-area: a8;
    display: inline-flex;
}

#a09{
    grid-area: a9;
    display: inline-flex;
}

#a10{
    grid-area: a10;
    display: inline-flex;
}

#a11{
    grid-area: a11;
    display: inline-flex;
}

#a12{
    grid-area: a12;
    display: inline-flex;
}

#a13{
    grid-area: a13;
    display: inline-flex;
}

#a14{
    grid-area: a14;
    display: inline-flex;
}

#a15{
    grid-area: a15;
    display: inline-flex;
}

#a16{
    grid-area: a16;
    display: inline-flex;
}

#a17{
    grid-area: a17;
    display: inline-flex;
}

#a18{
    grid-area: a18;
    display: inline-flex;
}

#a19{
    grid-area: a19;
    display: inline-flex;
}

#a20{
    grid-area: a20;
    display: inline-flex;
}

#a21{
    grid-area: a21;
    display: inline-flex;
}

#a22{
    grid-area: a22;
    display: inline-flex;
}

#a23{
    grid-area: a23;
    display: inline-flex;
}

#a24{
    grid-area: a24;
    display: inline-flex;
}

#a25{
    grid-area: a25;
    display: inline-flex;
}

#a26{
    grid-area: a26;
    display: inline-flex;
}

#a27{
    grid-area: a27;
    display: inline-flex;
}

#a28{
    grid-area: a28;
    display: inline-flex;
}

#a29{
    grid-area: a29;
    display: inline-flex;
}

#a30{
    grid-area: a30;
    display: inline-flex;
}

#a31{
    grid-area: a31;
    display: inline-flex;
}

#a32{
    grid-area: a32;
    display: inline-flex;
}

#a33{
    grid-area: a33;
    display: inline-flex;
}

#a34{
    grid-area: a34;
    display: inline-flex;
}

#a35{
    grid-area: a35;
    display: inline-flex;
}

#a36{
    grid-area: a36;
    display: inline-flex;
}

#a37{
    grid-area: a37;
    display: inline-flex;
}

#a38{
    grid-area: a38;
    display: inline-flex;
}

#a39{
    grid-area: a39;
    display: inline-flex;
}

#a40{
    grid-area: a40;
    display: inline-flex;
}

#a41{
    grid-area: a41;
    display: inline-flex;
}

#a42{
    grid-area: a42;
    display: inline-flex;
}

#a43{
    grid-area: a43;
    display: inline-flex;
}

#a44{
    grid-area: a44;
    display: inline-flex;
}

#a45{
    grid-area: a45;
    display: inline-flex;
}

#a46{
    grid-area: a46;
    display: inline-flex;
}

#a47{
    grid-area: a47;
    display: inline-flex;
}

#a48{
    grid-area: a48;
    display: inline-flex;
}

#a49{
    grid-area: a49;
    display: inline-flex;
}

#a50{
    grid-area: a50;
    display: inline-flex;
}

#a51{
    grid-area: a51;
    display: inline-flex;
}


/*
#a01{
    border: 1px solid red;
    grid-area: a1;
    display: inline-flex;
}

#a02{
    border: 1px solid red;
    grid-area: a2;
    display: inline-flex;
}

#a03{
    border: 1px solid red;
    grid-area: a3;
    display: inline-flex;
}


#a04{
    border: 1px solid red;
    grid-area: a4;
    display: inline-flex;
}

#a05{
    border: 1px solid red;
    grid-area: a5;
    display: inline-flex;
}

#a06{
    border: 1px solid red;
    grid-area: a6;
    display: inline-flex;
}

#a07{
    border: 1px solid red;
    grid-area: a7;
    display: inline-flex;
}

#a08{
    border: 1px solid red;
    grid-area: a8;
    display: inline-flex;
}

#a09{
    border: 1px solid red;
    grid-area: a9;
    display: inline-flex;
}

#a10{
    border: 1px solid red;
    grid-area: a10;
    display: inline-flex;
}

#a11{
    border: 1px solid red;
    grid-area: a11;
    display: inline-flex;
}

#a12{
    border: 1px solid red;
    grid-area: a12;
    display: inline-flex;
}

#a13{
    border: 1px solid red;
    grid-area: a13;
    display: inline-flex;
}

#a14{
    border: 1px solid red;
    grid-area: a14;
    display: inline-flex;
}

#a15{
    border: 1px solid red;
    grid-area: a15;
    display: inline-flex;
}

#a16{
    border: 1px solid red;
    grid-area: a16;
    display: inline-flex;
}

#a17{
    border: 1px solid red;
    grid-area: a17;
    display: inline-flex;
}

#a18{
    border: 1px solid red;
    grid-area: a18;
    display: inline-flex;
}

#a19{
    border: 1px solid red;
    grid-area: a19;
    display: inline-flex;
}

#a20{
    border: 1px solid red;
    grid-area: a20;
    display: inline-flex;
}

#a21{
    border: 1px solid red;
    grid-area: a21;
    display: inline-flex;
}

#a22{
    border: 1px solid red;
    grid-area: a22;
    display: inline-flex;
}

#a23{
    border: 1px solid red;
    grid-area: a23;
    display: inline-flex;
}

#a24{
    border: 1px solid red;
    grid-area: a24;
    display: inline-flex;
}

#a25{
    border: 1px solid red;
    grid-area: a25;
    display: inline-flex;
}

#a26{
    border: 1px solid red;
    grid-area: a26;
    display: inline-flex;
}

#a27{
    border: 1px solid red;
    grid-area: a27;
    display: inline-flex;
}

#a28{
    border: 1px solid red;
    grid-area: a28;
    display: inline-flex;
}

#a29{
    border: 1px solid red;
    grid-area: a29;
    display: inline-flex;
}

#a30{
    border: 1px solid red;
    grid-area: a30;
    display: inline-flex;
}

#a31{
    border: 1px solid red;
    grid-area: a31;
    display: inline-flex;
}

#a32{
    border: 1px solid red;
    grid-area: a32;
    display: inline-flex;
}

#a33{
    border: 1px solid red;
    grid-area: a33;
    display: inline-flex;
}

#a34{
    border: 1px solid red;
    grid-area: a34;
    display: inline-flex;
}

#a35{
    border: 1px solid red;
    grid-area: a35;
    display: inline-flex;
}

#a36{
    border: 1px solid red;
    grid-area: a36;
    display: inline-flex;
}

#a37{
    border: 1px solid red;
    grid-area: a37;
    display: inline-flex;
}

#a38{
    border: 1px solid red;
    grid-area: a38;
    display: inline-flex;
}

#a39{
    border: 1px solid red;
    grid-area: a39;
    display: inline-flex;
}

#a40{
    border: 1px solid red;
    grid-area: a40;
    display: inline-flex;
}

#a41{
    border: 1px solid red;
    grid-area: a41;
    display: inline-flex;
}

#a42{
    border: 1px solid red;
    grid-area: a42;
    display: inline-flex;
}

#a43{
    border: 1px solid red;
    grid-area: a43;
    display: inline-flex;
}

#a44{
    border: 1px solid red;
    grid-area: a44;
    display: inline-flex;
}

#a45{
    border: 1px solid red;
    grid-area: a45;
    display: inline-flex;
}

#a46{
    border: 1px solid red;
    grid-area: a46;
    display: inline-flex;
}

#a47{
    border: 1px solid red;
    grid-area: a47;
    display: inline-flex;
}

#a48{
    border: 1px solid red;
    grid-area: a48;
    display: inline-flex;
}

#a49{
    border: 1px solid red;
    grid-area: a49;
    display: inline-flex;
}

#a50{
    border: 1px solid red;
    grid-area: a50;
    display: inline-flex;
}

#a51{
    border: 1px solid red;
    grid-area: a51;
    display: inline-flex;
}
*/


.bolDesk{
    border: 1px;
    height: 12px;
    border-radius: 100%;
}

#infoDisp{
    width: 204px;
    font-size: 13px;
}

#buttonInfo{
    margin-top: 8px;
    margin-left: 13px;
    background: #0370AB;
    color: #ffffff;
    border-radius: 7px;
    border: 0px;
    padding: 7px;
}

.containerHome{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px 75px 200px 200px 200px 75px;
    grid-template-areas: 
                        "sidebar navbar navbar navbar navbar"
                        "sidebar titleMap titleMap buttonObj search"
                        "sidebar map map map map"
                        "sidebar map map map map"
                        "sidebar map map map map"
                        "sidebar devices devices devices devices";
    color: rgb(0, 0, 0);
    text-align: center;
}


/*SECÃO - DEVICES*/

.botaoDisp{
    margin: 10px 0px 10px 13px;
}

.botaoDisp button{
    color: #ffffff;
    border: 0px;
    width: 120px;
    height: 30px;
    border-radius: 30px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.corRosa{
    background-color: #e36612;
}

.corVerde{
    background-color: #cc3262;
}

.corRoxo{
    background-color: #5ba221;
}

.corAzulEscuro{
    background-color: #7030a0;
}

.corAzulClaro{
    background-color: #0050c9;
}










.dropbtn {
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover{
      background-color: #f1f1f1;
      border-radius: 10px;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #f1f1f1;
  }

.dropdown-content h5{
    font-size: 14px;
    text-align: center;    
    color: #0370AB;
}

.dropdown-content a{
    font-size: 14px;
    text-align: center;    
    color: #374151;
    letter-spacing: 0.01em;
}

.dropdown-content a:hover{
    color: #0370AB;
    font-weight: bold;
}

.buttonsTopList {
    margin: 0;
    border: none;
    background-color: transparent;
}

/*
.dropdown button{
    display: flex;
    justify-content: center;
}
*/
.cleanClass{
    color: red;
}

.dropdown h5{
    font-family: 'Inter', sans-serif ;font-size: 14px;
    text-align: center;
    color: #0370AB;
    font-weight: bold;
}

.filtro button{
    font-family: 'Inter', sans-serif ;font-size: 14px;
    text-align: center;
    letter-spacing: 0.01em;
}

.filtro button:hover{
    color: #0370AB;
    font-weight: bold;
}

.filtro button:focus{
    color: white;
    font-weight: bold;
}