/*--- Configuração da Página ---*/
html, body{
    height: 100%;
}

/*---------------*/
/*--- SIDEBAR ---*/
/*---------------*/

.sidebar{
    width: 8.22%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 3px 4px 45px rgba(0, 0, 0, 0.08);
    position: fixed; /*Estava: relative*/
}

nav div{
    position: relative;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: 5% auto auto auto;
}

/*--- Fundo do Ícone ---*/
.sidebar a{
    border-radius: 100%;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 35px;
    width: 55px;
    height: 55px;
}

/*--- Ícones da Sidebar ---*/
.sidebar a svg{
    margin-top: 25%;
    width: 22px; /*22px*/
    height: 22px; /*22px*/
    color: #000000;
}

/*--- Ícones da Sidebar / Imagens ---*/
.sidebar a img{
    margin-top: 25%;
    width: 22px;
    height: 22px;
}

/*--- Ao passar seta pelo ícone ---*/
.sidebar a svg:hover{
    color: #0370AB;
    background-color: #EEFBFF;
}
.sidebar a:hover{
    color: #0370AB;
    background-color: #EEFBFF;
    border-radius: 100%;
}

#divLogo{
    position: static;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: 0;
    text-align: center;
}

/*--- Logo ---*/
#logo{
    width: 80px;
    height: 91px;
    margin-left: 12px;
}


/*--------------*/
/*--- NAVBAR ---*/
/*--------------*/

#navbar{
    background-color: #ffffff;
    position: fixed;
    height: 12%;
    width: 100%;
}

#nomeMapa{
    margin-left: 11%;
    text-align: center;
    margin-top: 25px;
    font-size: 18px;

}

#nomePerfil{
    margin-left: 60%;
    margin-top: 25px;
    font-size: 15px;
}

#fotoPerfil{
    border-radius: 100%;
    height: 50px;
    margin-top: 15px;
    margin-right: 20px;
}

#iconeSeta{
    margin-top: 30px;
    margin-right: 10px;
}

#iconeMapa{
    margin-top: 30px;
    margin-left: 60px;
}

/*--------------*/
/*--- Página ---*/
/*--------------*/

.tela{
    height: 100%;
    padding: 6.9% 0% 0% 8.22%;
}

.mapa{
    margin: 20px 20px 20px 20px;
    background-color: #ffffff;
    border-radius: 15px;
}

.tituloMapa{
    display: inline-block;

    width: 50%;
    padding-top: 5px;
    padding-left: 15px;
    font-size: 218%;
    color: #0370AB;
    font-weight: 700;
    line-height: 58px;
}

#pesquisa{
    width: 100%;
    margin-top: 6px;
}

#pesquisar{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right: #ffffff;
}

#barraPesquisa{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #ffffff;
    border-left: #ffffff;
}

/*--- Ícones da Sidebar ---*/
.iconesDisp svg{
    margin: 12px;
    width: 22px; /*22px*/
    height: 22px; /*22px*/
    color: #000000;

}

.iconesDisp{
    text-align: right;
}

.caixaPesquisa{
    padding-top: 11px;
}

#mapaCampus{
    margin-left: 28px;
    width: 96.5%;
    height: 550px;
    border: 3px solid #CFCFCF;
    border-radius: 10px;
}

.botaoDisp{
    margin: 10px 0px 10px 13px;
}

.botaoDisp button{
    color: #ffffff;
    border: 0px;
    width: 120px;
    height: 30px;
    border-radius: 30px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.corRosa{
    background-color: #FF548F;
}

.corVerde{
    background-color: #19B69B;
}

.corRoxo{
    background-color: #9061C2;
}

.corAzulEscuro{
    background-color: #02779E;
}

.corAzulClaro{
    background-color: #63D3FF;
}

.dropbtn {
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  .dropbtn svg{
    width: 22px;
    height: 22px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover{
      background-color: #f1f1f1;
      border-radius: 10px;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #f1f1f1;
  }

.dropdown-content h5{
    font-size: 14px;
    text-align: center;    
    color: #0370AB;
}

.dropdown-content a{
    font-size: 14px;
    text-align: center;    
    color: #374151;
    letter-spacing: 0.01em;
}

.dropdown-content a:hover{
    color: #0370AB;
    font-weight: bold;
}

/*

.filtro{
    display: inline-block;
    width: 20%;
}

.filtro a{
    background-color: #ffffff;
    border: #ffffff;
    text-align: center;
    margin-bottom: 13px;

}

.filtro a:hover{
    background-color: #ffffff;
}

.filtro a svg{
    width: 22px;
    height: 22px;
    color: #000000;
}

.filtro a svg:hover{
    color: #0370AB;
}
*/


/*
input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 100px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
  }
*/